*{
  font-family:  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(33, 37, 41);
  font-size: 16px;
}

.container{
  width: 80%;
  margin: 20px auto;
}

.search-bar{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}



.search-bar input{
  width: 100%;
  /* max-width: 241px; */
  height: 38px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(206, 212, 218);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 12px;
  border-radius: 4px;
  position: relative;
}

 .search-bar input:focus , input:active{
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
  outline: none;
 }

.key-short-cut{ 
  font-size: 12px;  
  border-color: rgb(222, 226, 230);
  background-color: transparent;
  border-radius: 2px;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  /* left: 23%; */
  /* top: 4.5%; */
  right:13%;
 }

 table{
  width: 100%;
  text-align: center;
 }

 td , th{
  padding: 8px;
  border-color: rgb(222, 226, 230);
  border-bottom: 2px solid #ddd;
 }

 th{
  font-weight: 700;
 }

 tr:nth-child(odd) {
  background-color: #fafafa;
}


 input[type="number"]{
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
 }

 .error{
  font-size: 15px;
  color: red;
  margin-left: 10px;
 }

 .pagination{
    font-size: 15px;
    padding: 6px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
 }

 .active{
  background-color: aliceblue;
  border: none;
  outline: none;
 }

 .loding{
  text-align: center;
 }